.wacFormA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.wacFormContent, .wacFormContentA{
    padding:10px;
    width:370px
}

.wacFormItemLeft{
    font-weight: bold;
    width:100px;
    float:left;
    padding:7px 0px 0px 7px;
    min-height:24px;
}
.wacFormItemRight{
    width:250px;
    float:left;
    padding:5px;
    min-height:24px;
}
.wacFormItemPeer{
    font-weight: bold;
    width:110px;
    float:left;
    padding:7px 0px 0px 7px;
    min-height:24px;
}
.wacFormClear{
    float:none;
    clear:both;
    height:0px;
}
.wacFormRow{
    background-color:none;
    display:block;
    min-height:32px;
}
.wacFormText{
    width:190px;
}

.wacFormRuler{
    width:350px; border-bottom:dashed 1px #dcdcdc;
}

.wacFormOver{
    background-color:#e6e2af;
}
.wacFormOut{
    background-color:none;
}

.wacFormFirstCol{
    float:left; margin-right:5px; width:400px;
}

.wacFormSecondCol{
    float:left; margin-right:5px; 
}

.wacFormGoodsField{
    float:left;
    margin-right:5px;
    width:350px;
    height: 275px;
    overflow: auto;
}

.wacFormGoodsCol{
    float:left; 
    width: 100%;
    height: 255px;
    overflow: auto;    
}

.wacFormThirdCol{
    float:left; margin-right:5px;
}

.wacFormForthCol{
    float:left; margin-right:5px;
}

.wacFormContentSmall{
    padding:5px;
    width:340px
}

.wacFormItemLeftSmall{
    width:80px;
    float:left;
    padding:1px;
    font-size: 9pt;
}

.wacFormItemRightSmall{
    width:220px;
    float:left;
    padding:1px;
    min-height:24px;
    font-size: 9pt;
}

.wacFormBottom{
   visibility: visible; display: block; top: auto; bottom: 0px; 
}

.wacPanelFormRow{
    background-color:none;
    display:block;
}

.wacSignin { width:295px; font-family: Verdana; font-size: 9pt; font-style: normal; color: #4A3E3E; margin:250px auto; }
.wacSignin .wacTitle { width:120px; margin:0 auto; }
.wacSignin ul { list-style:none; }
.wacSignin li label { width:100px; height:25px; padding-top:4px; float:left; }
.wacSignin li input { width:150px; height:20px; float:right; border:1px solid #8f8f8f; }
.wacSignin .wacSubmit { width:150px;  margin:20px auto; }

.wacDisp{ display:none;}

.wacContact p { margin-top: 15px; }
.wacContact p.wacTitle { font-weight: bolder; font-size: 1.5em; font-style: italic; }

.wacError, .wacNotice, .wacSuccess {margin-bottom:1em;border:2px solid #ddd;}
.wacError {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.wacNotice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.wacSuccess {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.wacError a {color:#8a1f11;}
.wacNotice a {color:#514721;}
.wacSuccess a {color:#264409;}
.wacCursor{cursor: pointer; cursor: hand;}
.wacMove{cursor: move;}

.wacLoader {
    background-color: #FFFFFF;
    border: 1px solid #5A667B;
    color: #000000;
    display: block;
    font-family: Verdana,Tahoma,Helvetica,sans;
    font-size: 12px;
    margin: 0 auto;
    padding: 10px 0 16px;
    text-align: left;
    width: 300px;
    z-index: 2;
}
.wacInputboxSearch1 {
	width: 100px;
        height: 20px;
        display: inline;
	margin: 0 0 1em 0;
	border: 1px solid  #333333;
	background:url('images/js_icons/magnifying-glass.gif') no-repeat left center;
        background-color: #ffffff;
        position: relative;
	padding-left:20px;
}

.wacFrame{ width:auto; height:400px; overflow:auto; border:1px solid gray; }

.wacPortletColumn { width: 250px; float: left; padding-bottom: 25px; }
.wacPortlet { margin: 0 1em 1em 0; width: 230px; }
.wacPortlet-header { cursor: move; margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.wacPortlet-header .ui-icon { float: right; }
.wacPortlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.wacTable{padding:5px;border:solid 1px #000;}
.wacTableTitle{padding: 2px; min-width: 25px; border-bottom: 1px solid rgb(0, 0, 0); background-color: rgb(139, 164, 209); color: rgb(255, 255, 255);}
.wacTableField{font-size: 11pt; border-bottom: 1px solid rgb(0, 0, 0); background-color: rgb(255, 255, 255);}
